{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class='vitals-p' style='border:dotted; border-radius:30%; height:200px; width:440px;'>
<h2 style='margin-left:100px;' >When and Why Vitals ? </h2>
<p style='font-size:15px; position: relative; left: 30px; margin-right:30px;'><b> Vitals are first taken during a primary assessment. <br />
The primary assessment determines the nature of the primary complaint and rule out,
prioritize, and treat any immediate life-threatening airway,
breathing and circulation problems. Vitals are taken and recorded more than once 
before arriving to the hospital. </p>
<section>

<section class="pcr" style='border:dotted; border-radius:30%; height:240px; width:460px; margin-top:10rem; '>
<h2 style='margin-left:100px; margin-bottom:10rem;'> The Patient Care Report </h2>
<p  style='position: relative; left:13px; bottom:80px; font-size:15px; margin-right:30px;' > A Patient Care Report is used to document all care and pertinent
patient information as well as serving as a data collection tool. 
The documentation on the patient care report includes vital information, 
which is necessary for continued care at the hospital. <br/> <br/>
Take a look at the vitals signs chart. 
It is one of the important sections of the patient care report. </p>
<img style='height:28vh; position:relative; left:50rem; bottom:28rem;'src="{% static 'images/vitals.svg' %}" alt="patient care report section" />
</section>




{% endblock %}