{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image"
    href="{% static "images/home.svg" %}"
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title> Vitals EMS</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div  class='header-logo-container'>
      <a  style='text-decoration: none;' href="/">
      <h1 style='color: grey;'> Vitals EMS </h2>
        <img
          src="{% static "images/ambulance.svg" %}"
          alt="Ambulance bus"
        >
      </a>
    </div>
    <nav>
      <ul>
       {% if user.is_authenticated %}
      <li><a href="{% url 'patients_index' %}">All Patients</a></li>
      <li><a href="{% url 'patients_create' %}">New Patient</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
