@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html, body {
  max-width: 100%;
  
}
  

  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
  :root {
      font-size: 62.5%
  }
  
  body {
    background-color: rgba(139, 141, 141, 0.349);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    min-height: 100vh;
    --borders: rgb(3, 3, 3) solid 2px;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(78, 61, 61);
    --secondary: rgb(57, 57, 57);
    --card-box-shadow: 5px 5px 6px -1px #AAA;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
}

header {
    width: 100%;
    background: var(--nav-bg-ff);
    border-bottom: var(--borders);
}

  
  main {
    width: 100%;
  }
  
  h1 {
    font-family: 'Michroma', sans-serif;
    font-size: var(--font-xl);
  }
  

  
  .page-header {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .secondary {
    color: var(--secondary);
    border-color: var(--secondary);
  }
  
  .page-header h1 {
    font-size: var(--font-xxl);
    margin: 0;
  }
  
  .page-header img {
    height: 40px;
    margin-left:15px;
  }
  
  .page-header img:first-of-type {
    margin-left: 2px;
  }



header {
    background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);  
  }

.header-logo-container a {
    position: absolute;
    left: 0;
    top:15px;
    display: flex;
    flex-direction:row;
    font-size:15px;
    font-family: 'Michroma', sans-serif;
  }
  .header-logo-container img{
    height:55px;
    margin-left: 15px;
  }

.header-logo-container {
    float: left;
    margin-right: 20px;
  }

  nav {
  margin-right: 15rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  nav li {

    display: inline-block;
    margin-left:15px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
  }
  nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
  }
  nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left:0;
    bottom: 15px;
    background: #0603d6;
    transition: width .5s linear;  
  }
  nav a:hover:after {width: 100%;}



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .btn {
    width: 110px;
    height: 40px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, rgb(255, 255, 255) 0%, #1100ff 74%);
    background-size: 200% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: 500ms;
  }
  
  .btn:before {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: #be0000;
    background-image: linear-gradient(315deg, #0003ce 0%, #000a8f 74%);
    transition: 500ms;
  }

#login:before {
    content:'Login';
}
#submit:before {
  content:'Submit';
}
#signup:before {
  content:'Submit';
}
#delete:before {
  content:'Delete';
}
#cancel:before {
  content:'Cancel';
}
  
  .btn:hover {
    background-position: right;
  }
  
  .btn:hover:before {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .btn:focus {
    outline: none;
  }

  
  @media screen and (max-width: 660px) {
    header {text-align: center;}
    .header-logo-container  {
      float: none;
      display: inline-block;
      margin: 50px 0 20px 0;
    }
    ul {float: none;
    font-size: 10px;}
    nav li:first-of-type {margin-left: 0;}
  }


  @media screen and (max-width: 550px) {
  nav {overflow: visible;}
  nav li {
    display: block;
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  nav li:hover {background: rgba(0,0,0,.1);}
  nav a:after {content: none;}
  }







