
label{
    font-size:medium;
    display:inline-block;
    margin: 8px;
    }
.add-vitals {
    position: relative;
    left:10rem;
    top:-6rem;
    margin:10px;
    color:rgb(0, 0, 0);
    }

h1{
    margin-bottom:25px;
    }
section h3 {
    position: relative;
    left: 78rem;
    bottom:30rem;
    font-size: large;
}
section .table{
    position: relative;
    left: 45rem;
    bottom: 28rem;

}
table {
    width: 60%;
    font-size: 16px;
}

table, th, td {
    border: 1px solid black;
}

.patient-container{
    position: relative;
    left:10rem;
}

.patient-actions{
    display: flex;
    flex-direction:row;
    gap: 10px;
    position:relative;
    left: 74rem;
    bottom: 4rem;
}


#delete:before {
    content: 'Delete';
}

#edit:before {
    content: 'Edit';
}

#add:before {
    content: 'Add';
}


#add{
    position: relative;
    top:15rem;
}


#status-radio {
display: inline-block;
color: rgb(8, 8, 8);
position: relative;
right:118rem;
top: -15px;
}

.patient-details {
    position: relative;
    top:10px;
    left: 50rem;
    font-size: medium;
}
