.card-container {
  padding: 0 280px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.card {
  width: auto;
  height:auto;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  background: linear-gradient(0.15turn, #ffffff, #736faa, #e61111);
  
}

.card-content {
  padding: 10px;
  width: 100%;
  height: auto;
}



.card > a {
  text-decoration: none;
  color: var(--text-color);

}

.card h2 {
  margin: 5px 60px;
  font-size: var(--font-l);
}

.card p {
  margin: 5px 55px;
  font-size: var(--font-reg);
}
#pt-img{
position: inherit;
right: 120px;
top: 8rem;
}