{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
rel="stylesheet" 
type="text/css" 
href="{% static 'css/' %}"
/>
{% endblock %}

{% block content %}

<section class="patient-container">
<div class="patient-img">
    <img 
    src="{% static 'images/' %}" 
    alt=""
    >
</div>
<div class="patient-details">
    <h2> {{ patient.last }},{{ patient.first }}</h2>
        <p>Date of Birth: {{ patient.date }} </p>
        <p>Gender: {{ patient.gender }}</p>
        <p> Phone: {{ patient.phone }} </p>
</div>
<div class="patient-actions">
    <a href="{% url 'patients_update' patient.id %}" class="btn warn">Edit</a>
    <a href="{% url 'patients_delete' patient.id %}" class="btn danger">Delete</a>
    </div>
</section>
<br />

<h3>Add a Vitals</h3>
    <form
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ vitals_form.as_p }}
      <button type="submit" class="btn submit">Add</button>
    </form>
    <h3>Vital Sets</h3>

<section>
    <table>
      <thead>
    <tr><th>Date</th><th>Respiration</th><th>Pulse</th><th>Blood Pressure</th><th>Level Of Conciousness</th><th>GCS</th><th>Pupils</th><th>Skin</th><th>Status</th>
      </thead>
      <tbody>
        {% for vitals in patient.vitals_set.all %}
          <tr>
            <td>{{vitals.vitals_date}}</td>
            <td>{{vitals.respiration}}</td>
            <td>{{vitals.pulse}}</td>
            <td>{{vitals.systolic}}/{{vitals.diastolic}}</td>
            <td>{{vitals.consciousness}}</td>
            <td>{{vitals.gcs}}</td>
            <td>{{vitals.pupils}}</td>
            <td>{{vitals.skin}}</td>
            <td>{{vitals.status}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


{% comment %} 
<div>
</tr> <th>Notes</th>
<td>{{vitals.notes}} </td></tr> {% endcomment %}

  </section>

{% endblock %}