{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cat-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Patients</h1>

</section>

<section class="card-container">
  {% for patient in patients %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/' %}" 
            alt=""
          >
        </div>
        <h2 class="card-title"></h2>
        <div>
        <a href="{% url 'patients_detail' patient.id %}">
       <h1> {{ patient.last }},{{ patient.first }} </h1>
        </div>
          <div>
          <p>Date of Birth: {{ patient.date }} </p>
          <p>Gender: {{ patient.gender }}</p>
          </div>
          
  {% endfor %}
</section>

{% endblock %}