{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/patient-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Patients</h1>

</section>

<section class="card-container">
  {% for patient in patients %}
    <div class="card">
    <a href="{% url 'patients_detail' patient.id %}">
     <h2 class="card-title">{{ patient.last }}, {{ patient.first }}</h2>
      <div class="card-content">
      <p>Date of Birth: {{ patient.date }}</p>
      <p>Gender: {{ patient.gender }}</p>
       </div>
       </div>
  {% endfor %}
</section>

{% endblock %}